body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1001px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:463px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:463px;
  display:flex;
}
#u4459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#009933;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:98px;
  width:756px;
  height:42px;
  display:flex;
  font-size:36px;
  color:#009933;
}
#u4460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:62px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:95px;
  width:81px;
  height:62px;
  display:flex;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:178px;
  width:638px;
  height:91px;
  display:flex;
  font-size:18px;
}
#u4462 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
